[2021-07-05 02:29] ilopezgp commented on #439
This worked for me:

`pip install -U matplotlib==3.2`
`conda install -c conda-forge basemap`

[2021-07-21 22:32] Kuhron commented on #492
@chengdang Nope, I just stopped using Basemap altogether. Instead I wrote my own code to do the triangulation for equirectangular projection. Here is the relevant code, if you want to use parts of it:

[code]

[2021-07-22 15:19] imsahil007 opened #519 "Plot sub-map by passing different extents to single basemap object"
Is there a way to extract basemap plt from an object on different extents by passing different values of `llcrnrlat`,			`urcrnrlat`,`llcrnrlon`,`urcrnrlon`
I want to pass some contourf data. but want to extract multiple images from the object using different extents

[2021-07-22 15:20] imsahil007 commented on #519
I do not want to create a new basemap object as the basemap object generation takes a long time

[2021-07-22 15:44] WeatherGod commented on #519
You should be able to just change the x/y limits after you contoured the
data.

You should also be using Cartopy instead of basemap which has been
end-of-lifed last year.

On Thu, Jul 22, 2021 at 11:21 AM Sahil ***@***.***> wrote:

[2021-07-24 17:00] GeoFelpave commented on #518
Just to add here. The following work for me without having to altered the version of Python.

sudo apt -y install libgeos-dev
pip3 install git+https://github.com/matplotlib/basemap/

[2021-09-13 10:56] peterkuma opened #520 "Basemap on Windows"
Hi,

I have recently built a basemap Python wheel on Windows on Anaconda Python 3.8, compiled with Visual Studio 2019. There were a few issues which needed to be resolved first (re-cythonizing the pyx module and bundling of GEOS DLLs in the wheel). I wonder if you would be interested in merging those changes, and possibly providing a Python wheel for Windows through PyPI?

The repository with the

[2021-09-13 12:45] #516 closed

[2021-09-13 13:14] WeatherGod commented on #520
Peter,

Basemap -- for all intents and purposes -- is a dead project. While there
are a few people that are supporting it for purposes internal to their
organizations, there just has not been enough effort to truly keep it
going. Please move on to using the Cartopy project instead. Thank you for
your offer to contribute back your patch.

On Mon, Sep 13, 2021 at 6:56 AM Peter Kuma ***@***.***> wrot

[2021-09-13 14:14] peterkuma commented on #520
Thank you for your quick response. I understand that the project is now discontinued. I have only asked because I am a maintainer of software which uses basemap (ccplot) and some users have asked for Windows support. However, I plan to migrate it to cartopy at some point in the future.

Generally, I think it is good if old software is kept operational even if new features are not added. But I unde

[2021-10-21 00:41] wreckdump opened #521 "Build error: possible from cython"
I know this python module is deprecated, but I really like this module and I would like to keep using it... So, if someone can help me with this issue, I would really appreciate it.

I've recently updated my system and the whole python virtual environment broke. So, I am in the process of reinstalling all the modules that I frequently use, and I am having problem with installing the basemap.

I do

[2021-10-26 03:06] AgilentGCMS opened #522 "drawcoastlines() plots wrong boundary for the Antarctic coast"
I am trying to draw continental coastlines with basemap. However, the following:

[code]

cuts off the Antarctic coastline at the Greenwich meridian as seen [here](https://drive.google.com/file/d/1R-J14YQBCPUw9-4lFi0c4qvQJTTdrJ__/view?usp=sharing). This is a problem not just with the Eckert IV projection, but with most (all?) global projections. E.g.,

[code]

produces the same wrong behavior. I'm

[2021-11-10 11:47] SanjaySNegi commented on #494
I solved this problem downgrading matplotlib version to 3.2.
Follow the site link:---
https://stackoverflow.com/questions/63839163/maplotlib-and-basemap-cannot-import-name-dedent

[2021-11-10 14:02] WeatherGod commented on #494
I just noticed that the basemap version is v1.3.0 from the main conda
channel. There is no such release:
https://github.com/matplotlib/basemap/tags. It would seem that conda
accidentally built a package using an older version of the code (because
this bug has been fixed for a while now). The correct solution would be to
install basemap version 1.2.2 from conda-forge and allow matplotlib to be
upgr

[2021-11-17 12:03] jiangzhiwei2018 opened #523 "Load a region-specific Basemap, then load the shapefile file and save it in svg or svgz format, which is very slow and takes up a lot of space."
I am using the multiple subplots in one image and loading shapefile files in the subplots, and then saving them in svg or svgz format by plt,savefig("xxx.svg") command  is very slow and takes up a lot of disk space.  How can I fix it?

[code]

When I increase the number of subgraphs, the rendering of svg format images will become very slow

**It may be that I reload a brand new shapefile each time

[2021-11-17 16:32] jklymak commented on #523
First, baseman is end-of-life, so consider cartopy

Second, I assume your shape file is huge, and largely outside your region of interest.  You are plotting it 7 times, so your file will be very large.  You can probably crop it using a tool like shapely?

[2021-11-19 13:15] bongotai opened #524 "ImportError: dlopen ... symbol not found in flat namespace '_GEOSArea'"
Hello! While using Peter Kuma's [ccplot](https://github.com/peterkuma/ccplot) I came accross this error:

`Traceback (most recent call last): File "/Users/joaquinx/opt/anaconda3/bin/ccplot", line 54, in <module> from mpl_toolkits import basemap File "/Users/joaquinx/opt/anaconda3/lib/python3.8/site-packages/mpl_toolkits/basemap/__init__.py", line 53, in <module> from mpl_toolkits.basemap import _g

[2021-11-23 16:47] bongotai commented on #524
The issue seems to be related to Apple M1 processor, as I tried runnig a basemap example on an Intel Mac and it worked perfectly.

[2021-11-23 16:47] #524 closed

[2021-12-05 17:25] molinav commented on #518
@thdb-theo @GeoFelpave I just uploaded preliminary wheel binaries of the future `basemap` version 1.3.0 (with bundled `libgeos_c`). In case you are still interested you can try out with (for Python 2.7 and 3.5 to 3.9):
[code]

[2021-12-05 17:43] molinav commented on #487
I close this issue, since the precompiled `_geoslib.c` file has been removed from the repository and `cython` has been added as a setup requirement. For Python 3.8 under Ubuntu 20.04 you can also try the preliminary precompiled wheels that I uploaded to PyPI, which come with its own copy og `libgeos_c`.

[2021-12-05 17:43] #487 closed

[2021-12-05 17:46] molinav commented on #488
@kinglionsz I uploaded preliminary wheel files to PyPI with `libgeos_c` already bundled, we will have a stable release in PyPI soon so that end users do not need to be compiling GEOS themselves.

[2021-12-05 17:46] #488 closed

[2021-12-05 17:48] #518 closed

[2021-12-05 19:11] molinav commented on #520
@peterkuma I recently finished the main refactoring of `basemap` into three separate packages (`basemap`, `basemap-data` and `basemap-data-hires`) here in the main `matplotlib/basemap` repo.

I could add GitHub Actions to create prebuilt wheel binaries for GNU/Linux (32 and 64 bit) that get deployed directly to PyPI:
https://pypi.org/project/basemap/1.3.0b1/
https://pypi.org/project/basemap-data/1

[2021-12-05 19:15] molinav commented on #489
I am closing this issue since it is a problem on how things are packaged in Anaconda. The next release of `basemap` (1.3.0) should support virtual environments flawlessly because the data assets are provided as additional packages living in the namespace `basemap-data` (at least if using `pip` and standard virtual environments).

[2021-12-05 19:15] #489 closed

[2021-12-05 19:42] molinav commented on #483
I am closing this since it was a problem on how Anaconda is packaging `basemap` and not a problem of `basemap` itself.

[2021-12-05 19:42] #483 closed

[2021-12-05 19:45] molinav commented on #448
I am closing this since this seems to be the same as #483 and it is a problem of the Anaconda packaging and not from `basemap` itself (at least in the latest versions).

[2021-12-05 19:45] #448 closed

[2021-12-05 19:48] molinav commented on #436
@juliantaylor I have been refactoring the whole project and now the `_geoslib.c` file is not part of the repository anymore, i.e. the Cython extension is compiled at build time when calling `python setup.py bdist_wheel`.

If you are using GNU/Linux, I recently uploaded precompiled binary wheels to PyPI with the latest beta release (1.3.0b1). Soon we will have a stable release.

[2021-12-05 19:48] #436 closed

[2021-12-05 19:53] molinav commented on #403
@heitorPB If you are using GNU/Linux, you may find pre-compiled binary wheels in PyPI for the current beta release (1.3.0b1), I just uploaded them yesterday. The stable release 1.3.0 will come with some reorganisation (splitting `basemap` into `basemap`, `basemap-data` and `basemap-data-hires`). For the moment you could do:
[code]
You only need `basemap-data-hires` if you need the high-resolution

[2021-12-05 20:02] molinav commented on #282
@ocefpaf The original license used to be the Historical Permission Notice and Disclaimer ([HPND](https://opensource.org/licenses/HPND)) but in fact `basemap` was GPLv2+ as a whole because of the data files included from GMT 4.x.

I contacted recently @jswhit and he agreed with replacing the HPND into the more standard MIT license (whose text is almost identical). Also, the data files were updated

[2021-12-05 20:02] #282 closed

[2021-12-05 22:16] WeatherGod commented on #282
A bit of additional history... I have had discussions with those who
maintain GMT a few years ago about their license. The discussion centered
around whether or not it was even valid to apply a software license to data
files. Basically, my interpretation of the situation was that the GMT data
files were potentially unlicensed and that they needed an open data license
such as a creative commons lic

[2021-12-06 09:42] titan-khan opened #525 "Install basemap in google colab"
Hello there, I was used the following script to install Basemap in Google Colab.

!apt-get install libgeos-3.5.0
!apt-get install libgeos-dev
!pip install https://github.com/matplotlib/basemap/archive/master.zip

But this script didn't work anymore because of some update in the github repo. Can anyone help me how to install basemap right now (after the update)? Here is the error messages:

ERROR:

[2021-12-06 10:17] molinav commented on #525
@titan-khan Thanks for the feedback and sorry for the inconvenience!

I was doing a big refactoring of the `basemap` project in order to make the wheel packaging easier. Now `basemap` is split in three parts (`basemap`, `basemap-data`, `basemap-data-hires`), these three packages are now under the `packages` folder and there is no `setup.py` file at the top-level folder anymore. That is probably wh

[2021-12-06 20:24] #361 closed

[2021-12-07 06:23] titan-khan commented on #525
Hi @molinav, thank you for the response. Your suggested solution have solved my problem. Now, I can install it successfully in my google colab. And I would like to thanks for your hard work to make the installation of Basemap easier.  Looking forward for the final version 1.3.0!

[2021-12-07 06:23] #525 closed

[2021-12-07 12:09] peterkuma commented on #520
The changes have made to support compiling on Windows (and macOS) were really quite simple changes to the setup.py script (you can see them in the repository linked above). On macOS, I have used MacPorts for the GEOS library, but it is of course not ideal to ask users to install MacPorts (or Homebrew) to install a Python package from a source distribution, and a wheel is preferable. I could perhap

[2021-12-10 15:01] gavaza opened #526 "Error to install with PIP"
[code]

[2021-12-10 15:05] molinav commented on #526
Which operating system are you using? If it is GNU/Linux (x86 o x64), you can use the precompiled binaries available in PyPI:
[code]
It is the same problem as in #525, the direct pip installation from the GitHub repo is not working anymore because I have been restructuring the project folder structure in order to make the wheel packaging easier.

You would only need to install explicitly `basemap-

[2021-12-10 15:59] #526 closed

[2021-12-24 04:15] wreckdump opened #527 "Support end date for basemap"
First of all, thank you for maintaining this python module.

I was wondering when the maintenance would actually come to a full stop. I thought this module would be completely stop being maintained at 2020, but it seems that it is still actively being  (or just stretching out) maintained by Víctor Molina García (thank you again!).

I mean, if it is possible I would like to somehow contribute in ma

[2021-12-24 06:36] efiring commented on #527
I don't see any reason it can't be maintained as long as sufficient people like Victor and yourself keep maintaining it.  That's the way open source software works.  I'm also very grateful to @molinav for working with it.

[2021-12-24 11:01] molinav commented on #527
@wreckdump My current work is mostly focused in the packaging part: providing precompiled wheels is the main step to make `basemap` easier to install for an end user. Although I am still testing before tagging a new `basemap` stable release (1.3.0), the precompiled wheels seem to be working for Windows and GNU/Linux (x64 and x86 bits) for Python 2.7 and 3.5-3.9, and we now have GitHub Actions gene

[2021-12-29 12:36] molinav commented on #527
@wreckdump The stable release 1.3.0 is finally available in PyPI.

[2021-12-29 12:39] molinav commented on #520
@peterkuma For your information, I could finally upload the stable release 1.3.0 of `basemap` to PyPI. This release includes a helper class to build GEOS on Windows (by means of `nmake`) or GNU/Linux (by means of `cmake`), and now PyPI also hosts precompiled wheels for both platforms with `libgeos` inside.

[2021-12-29 12:42] molinav commented on #510
@hydrogencl For your information, `basemap` version 1.3.0 is finally available in PyPI. With this version, we provide precompiled binary wheels for Windows and GNU/Linux. You can give it a try by installing as usual with `pip`:
[code]

[2021-12-29 12:42] #510 closed

[2021-12-29 12:45] molinav commented on #491
Finally (after one year!) we have precompiled binary wheels for Windows and GNU/Linux which can be installed with `pip`:
[code]
I am closing this issue now. Feel free to open a new issue if there are still problems with getting `basemap` work on Windows.

[2021-12-29 12:45] #491 closed

[2021-12-29 12:47] molinav commented on #436
@juliantaylor We finally have the stable release 1.3.0 on PyPI in case you want to give it a try.

[2021-12-29 12:52] #499 closed

[2021-12-29 12:55] molinav commented on #461
We have just released `basemap` version 1.3.0 with precompiled binary wheels for Windows and GNU/Linux, so you do not need to compile the library by yourself anymore on these platforms.

I am closing this issue now. Feel free to open a new one or write here if the problems persist.

[2021-12-29 12:55] #461 closed

[2021-12-29 13:00] molinav commented on #456
We have recently released `basemap` version 1.3.0, which includes several changes related to the library packaging. From this version, precompiled wheels are available in PyPI (including your case with Python 3.7 under GNU/Linux x86_64), so you can simply install `basemap` using `pip`:
[code]
which will install `basemap-data` in addition. If you also need the high-resolution data files, you need t

[2021-12-29 13:02] molinav commented on #445
Precompiled wheels are available in PyPI since release 1.3.0. This means that you can now install directly using `pip` without the need of building the library yourself:
[code]
If you need the high-resolution data files, you have to install `basemap-data-hires` in addition:
[code]
Hope this helps.

[2021-12-29 13:02] #445 closed

[2021-12-29 14:53] molinav opened #528 "Enable flake8"
In the context of fixing current issues within `basemap`, one easy step is to use static analysis tools, since they can catch the most evident problems.

I open this issue as a reminder to enable `flake8` in the development workflow; `flake8` will catch the most evident code mistakes, and it will also give advice on changes that will make the code more pep8-compliant. Enabling `pylint` at this mom

[2021-12-29 14:55] molinav commented on #528
Ideally we should run `flake8` *also* in the examples. I remember that once I tried to run all of them and some were triggering errors (I cannot remember more details).

[2021-12-29 21:01] WeatherGod commented on #528
I considered this about 5 years ago. Unfortunately, the codebase is very
much not PEP8-compliant (I wouldn't be surprised if most of it predates a
lot of PEP8). At the time, my goal was to shut down this project, so I
didn't see any value in cleaning up the codebase. But, since your goals are
different from mine, it might make sense to do some cleanup. I should note
that the test suite is extremel

[2021-12-31 21:20] wreckdump commented on #527
@molinav Thanks!

I personally am not using MacOS nor I own any machine.. So I don' think I could help with that. I could look into the issue of the `setup.py`.

[2022-01-01 11:47] peterkuma commented on #520
Thank you @molinav . I suppose I can close this issue now.

[2022-01-01 11:47] #520 closed

[2022-01-02 21:17] molinav commented on #179
I come from seven years later just to notify you that this part of the documentation has been updated. ;-)

[2022-01-02 21:17] #179 closed

[2022-01-02 22:00] molinav commented on #267
The latest stable release of `basemap` is out there for almost a week now (1.3.0). This version includes a signficant refactoring of the library into three parts, similarly to how Anaconda does (`basemap`, `basemap-data` and `basemap-data-hires`).

Furthermore, `basemap` is now offered in PyPI with precompiled binary wheels available for Windows and GNU/Linux, for x86 and x64 architectures, for Py

[2022-01-02 22:07] molinav commented on #422
We now have precompiled binary wheels for Windows, so it should be possible to install `basemap` with `pip` as you would do with any other package (for Windows x86 and x64, Python 2.7 and 3.5-3.9):
[code]
In case you need the high-resolution datasets, you need to install them manually:
[code]
The solution by @rezapci will not work at the moment, because the refactoring of `basemap` into three sepa

[2022-01-02 22:07] #422 closed

[2022-01-02 22:12] molinav commented on #405
There is a new release available (1.3.0). This release also brings some precompiled binary wheels to PyPI, and `basemap` is split in three parts in a similar way to what Anaconda does. With `pip`, now it should be as simple as:
[code]
and, in case that you also need the high-resolution datasets:
[code]

[2022-01-02 22:12] #405 closed

[2022-01-02 22:15] molinav commented on #403
@heitorPB I just bring you the nice update that we have stable release for `basemap` version 1.3.0. So now we can just install `basemap` with `pip` as we would do with any other package:
[code]

[2022-01-02 22:15] #403 closed

[2022-01-02 22:32] molinav commented on #362
With the `basemap` release 1.3.0, there has been a significant refactoring of the library. Among other things, the package has been split in three parts (`basemap`, `basemap-data` and `basemap-data-hires`). The [`setup.py`] file for `basemap` has also been significantly rewritten.

I have tried to run the [`setup.py`] for `basemap` using `zsh` under Ubuntu 20.04 and it built successfully. In addit

[2022-01-02 22:42] molinav commented on #228
The latest release 1.3.0 from beginning of this week addressed this problem. In summary:
- The bundled source code of GEOS has been deleted from the repository. Having a copy of the repository implies that we need to take care of updating the version manually by pulling from the official GEOS repos or mirrors, and this is not desired.
- Instead, a helper class `GeosLibrary` is added in the `utils`

[2022-01-02 22:42] #228 closed

[2022-01-02 22:51] molinav commented on #343
I am closing this issue, since the topic is a bit outdated now. We have a new stable release (1.3.0). This release is available in PyPI with precompiled binary wheels.

[2022-01-02 22:51] #343 closed

[2022-01-03 11:19] DevAGCO opened #529 "Can't install 1.3.0 through python3 pip install"
[code]

[2022-01-03 11:49] molinav commented on #529
Hi @DevAGCO! This is a current known issue. A big package refactoring was done for v1.3.0 and now `basemap` is split in three parts: `basemap`, `basemap-data` and `basemap-data-hires`. As a consequence, `v1.3.0.zip` does not contain the `setup.py` file anymore at the top-level folder but at `./packages/basemap` and `pip` does not know what to do.

Which platform and Python version are you using? I

[2022-01-03 11:55] sahanaRavinder opened #530 "need insights on importing mpl_toolkits.basemap and installation of basemap"

[2022-01-03 11:58] molinav commented on #529
If you want to install `basemap` from source, I checked that the following should also work:
[code]

[2022-01-03 14:28] jypeter commented on #267
Thanks for the update @molinav ! It's good to know that  basemap is still supported

[2022-01-03 14:48] DevAGCO commented on #529
Hi @molinav !
Thank you so much for your prompt and complete answer. I have tested both solutions and it worked !
I'm using Ubuntu 20.04.3 LTS and python 3.8.10.
Great job with the lib !

[2022-01-03 14:48] #529 closed

[2022-01-03 15:17] jypeter commented on #267
@molinav could you make `basemap-data` available on conda-forge? It does not seem to be there (see below)

Also, if basemap is (thankfully) still maintained for Python 3, you may want to update the information in [Cartopy, New Management, and EoL Announcement](https://matplotlib.org/basemap/users/intro.html#cartopy-new-management-and-eol-announcement) and similar places

[code]

[2022-01-03 15:32] WeatherGod commented on #267
On conda-forge, the basemap package comes with what is effectively
"basemap-data" on PyPI.

On Mon, Jan 3, 2022 at 10:17 AM Jean-Yves Peterschmitt <
***@***.***> wrote:

[2022-01-03 15:45] molinav commented on #267
Yes, the conda-forge recipe will need an update from version 1.3.0, since the package structure has changed. This development takes place in another repo in which I do not have control:
 https://github.com/conda-forge/basemap-feedstock

The rationale behind this split of `basemap-data` was to decrease the size of the uploaded packages in PyPI. If this data were placed inside the precompiled binary

[2022-01-03 21:11] molinav commented on #530
@sahanaRavinder Please provide a description of the problem, only this way we can try to help you.

[2022-01-04 07:17] sahanaRavinder commented on #530
thank u for the response....below is command prompt response while i m trying to install basemap....kindly see and share your thoughts

Users\sahana.DESKTOP-VB0949B.000\AppData\Local\Programs\Python\Python310\Lib\site-packages\basemap-1.3.0\packages\basemap>python setup.py install
C:\Users\sahana.DESKTOP-VB0949B.000\AppData\Local\Programs\Python\Python310\Lib\site-packages\basemap-1.3.0\packages\b

[2022-01-04 09:42] molinav commented on #530
I see at least two problems here:

1. When building from source, you need to build GEOS by yourself first. The log says that `python` cannot find where GEOS is installed, so either you have not compiled GEOS first or you did not define the environment variable `GEOS_DIR`. You can use the `GeosLibrary` class that we provide in `utils` to build GEOS from scratch. You need to go to the folder where `

[2022-01-04 11:17] sahanaRavinder commented on #530
Thanks a ton for the reply

On Tue, Jan 4, 2022 at 3:13 PM Víctor Molina García <
***@***.***> wrote:

[2022-01-06 00:26] heitorPB commented on #403
Thanks!

[2022-01-07 13:05] #362 closed

[2022-01-11 08:02] sahanaRavinder opened #531 "installation of basemap"
i have downloaded the basemap package from github,when i m trying to run the setup.py code from the 1st folder named as basemap,i m getting the below error,but the other two folders named basemap_data and basemap_data_hires setup.py programs got successfully installed

Microsoft Windows [Version 10.0.19043.1415]
(c) Microsoft Corporation. All rights reserved.

C:\Users\sahana.DESKTOP-VB0949B.000\A

[2022-01-13 12:21] molinav commented on #531
Hi @sahanaRavinder,

From your logs, it is clear that the problem with building `basemap` from source is due to GEOS not being found. Did you follow the steps from the README file? In particular, this (assuming you use the command prompt and you want to build GEOS e.g. in a temporary folder called `extern`):
[code]

After that, you need to build the `basemap` wheel using `bdist_wheel` so that the

[2022-01-13 12:30] molinav commented on #531
@sahanaRavinder From what I saw in https://github.com/libgeos/geos/issues/536, be sure of being located at `packages\basemap` when doing this:
[code]
If you run this from `packages\basemap\utils`, it will not obviously work. I would also recommend you to build the source code somewhere outside the Python system folders.

[2022-01-13 16:29] sahanaRavinder commented on #531
Thanks, I'll check it out.

On Thu, 13 Jan 2022, 18:00 Víctor Molina García, ***@***.***>
wrote:

[2022-01-22 00:15] molinav commented on #530
Closing since I guess this is a duplicate of issue #531.

[2022-01-22 00:15] #530 closed

[2022-01-22 03:11] sahanaRavinder commented on #530
Okay..btw tqsm for the Guidance

On Sat, 22 Jan 2022, 05:45 Víctor Molina García, ***@***.***>
wrote:

[2022-01-22 21:55] molinav commented on #444
Could you provide some more information about your working environment? This would mean:
- Operating system.
- Python version (I guess 2.7).
- Channel used to install things (e.g. PyPI, Anaconda, GNU/Linux repositories).

If you are using either Windows or GNU/Linux, I would recommend you to install `basemap` using `pip`. Since version 1.3.0 we provide precompiled binary wheels and it is as simple

[2022-01-22 22:03] molinav commented on #513
If it is ok for you I would close the issue. Former `basemap` versions were being compiled against a vendored copy of GEOS 3.3.3 (very old, as you said). Since `basemap` version 1.3.0, the vendored copy is removed from the repository and `basemap` can be compiled actually against any newer version of GEOS as desired (at least it seems to work until GEOS 3.8.x).

In particular, for the precompiled

[2022-01-22 22:22] molinav commented on #513
Just to make my previous comment clearer. Since version 1.3.0, you can install `basemap` directly from PyPI using `pip`:
[code]
and therefore all the compilation headaches that were common with `basemap` are now gone because the PyPI wheels bundle everything already compiled. `basemap` automatically installs the `basemap-data` package, which contains the crude-, low- and intermediate-resolution da

[2022-01-22 22:33] molinav commented on #437
In your case, `basemap` was failing to build because of the `_geoslib` wrapper around the GEOS library that is provided with `basemap`. Before `basemap` version 1.3.0, the repository contained a C file with the result of compiling the Cython file `_geoslib.pyx` into C code. This C code was generated running Cython in an older Python version (<3.7), and it contains symbols that have been removed fr

[2022-01-22 22:45] molinav commented on #390
@GavinMoreYoung As mentioned by @QuLogic, the 'st99_d00' files are part of the `basemap` examples, and they are located in the `examples` folder within this repository. They do not come with a standard installation of `basemap`, so you will need to download them from the repository if you want to use them (and write the appropriate path to them in your script).

[2022-01-22 22:45] #390 closed

[2022-01-22 22:46] GavinMoreYoung commented on #390
收到，会尽快给您回复。

[2022-01-22 22:49] molinav commented on #390
@nzqo The most likely reason for your error is if you have run the example from outside the `examples` folder. Note that the 'st99_d00' files can be found inside the `examples` folder, and your snippet is using relative paths (i.e. assuming that you are running this code inside the `examples` folder).

[2022-01-22 23:14] molinav commented on #404
@crawforc3 Could you check if the problem persists? I cannot reproduce it with the latest version of `basemap` (note that you can install it now directly with `pip` because PyPI stores manylinux wheels):

[code]

In particular, after this Docker `RUN` line, I am getting the following libraries installed:
- Python 3.6.3 :: Anaconda, Inc.
- pip 21.3.1 from /opt/conda/lib/python3.6/site-packages/pip

[2022-01-22 23:25] molinav commented on #267
Just for the record, I notified the need to update the conda recipe for `basemap` in conda-forge/basemap-feedstock/issues/87, but there is still no reply.

[2022-01-22 23:31] molinav commented on #286
@ocefpaf I know I am coming six years later, but I am happy to notify that `basemap` is now (1.3.x) effectively split into three parts similarly to what is done in Anaconda: `basemap`, `basemap-data` and `basemap-data-hires`. The only difference is that the intermediate-resolution files are located in `basemap-data` instead of `basemap-data-hires` (to avoid the PyPI package size limit for `basemap

[2022-01-24 10:15] mknaranja commented on #513
I haven't used it for some time but if you got notice of the problem and tested it accordingly, I think it's okay if you close it :)

[2022-01-24 10:44] molinav commented on #513
@mknaranja Perfect, thanks!

[2022-01-24 10:44] #513 closed

[2022-01-25 14:34] molinav commented on #522
For the moment it seems that we are blocked to GEOS < 3.9. I was testing and this error occurs for the 3.9.x series as well as the 3.10.x series.

[2022-01-25 18:31] ocefpaf commented on #286
Thanks for letting me know @molinav. I'm not actively maintaining the basemap-feedstock anymore but I can help out when there is a new release.

[2022-01-26 14:48] FenixDigitalB commented on #525
Maybe someone is making changes again?

Yesterday I was working a lot with basemap. Today I got an error 'no module named mpl_toolkits.basemap'

Anyone knows what's going on with this libraries and toolkits?

Thanks!

[2022-01-26 14:57] molinav commented on #525
Hi @FenixDigitalB. How did you try to install `basemap` in Google Colab? I have just tried it out and it works:

[code]
Output:
[code]

Then I restart the colab runtime, and this:
[code]

returns:
[code]
as expected.

[2022-01-26 15:38] FenixDigitalB commented on #525
Yes.

I don't know what happened, but it started working a while after I post my question.

Thanks for checking!

[2022-01-28 15:31] molinav commented on #531
@sahanaRavinder Did you have time to try it out and see if you can install `basemap` 1.3.1 with `pip`?

[2022-01-28 17:52] sahanaRavinder commented on #531
Sorry ,I didn't try as I was occupied with other things...I will try it
ASAP and let you know

On Fri, 28 Jan 2022, 21:01 Víctor Molina García, ***@***.***>
wrote:

[2022-02-01 12:41] cosmicpudding commented on #522
Thank you for this helpful post, I encountered the same issue of Antarctica being half-gone with geos 3.9.1 and was able to solve with:

`conda install -c conda-forge geos=3.8.1=h4a8c4bd_0`

(based on previous installation of basemap using conda-forge)

[2022-02-04 16:35] molinav commented on #531
I am closing this issue due to lack of feedback. Since we now have wheel files for Windows and Python 3.10, the installation should be straightforward. Feel free to reopen the issue if the problem persists.

[2022-02-04 16:35] #531 closed

[2022-02-10 06:13] YuujinHwang opened #533 "Problem on installation 1.3.1 with sdist"
_Environment
macOS Monterey
Version 12.1
Chip Apple M1 Max
Python 3.10.1_

With the goes library as below
[code]

I tried to install basemap following the comments on #531
[code]

but installation failed with error
[code]

Even there exist header and built binary 'geos_c.h' and 'libgeos_c' in $GEOS_DIR

[2022-02-10 07:07] molinav commented on #533
Hi @YuujinHwang!

You are right. Because we do not have pre-built wheels for MacOS, your computer tries with the source distribution (the zip file) but I made a mistake and some files are missing in the zip file uploaded to PyPI (see #532). This is fixed but I haven't released `basemap` 1.3.2 yet.

Can you try to install `basemap` using the following sdist (this is the current development status):

[2022-02-10 15:57] molinav commented on #533
I have just released `basemap` 1.3.2 that includes the fix for the issue with the source distribution that you were facing. Could you try to repeat the installation with the same command as before? Now it should work:
[code]

[2022-02-14 05:48] sahanaRavinder opened #534 "package import error"
while running a program using basemap ..the following error is seen

Warning: Basemap package cannot be imported | No module named 'pyproj._list'  error detected - Groundtrack plot disabled!
Traceback (most recent call last):
  File "C:\Users\hp\Python\gnsspynos.py", line 20, in <module>
    from mpl_toolkits.basemap import basemap
  File "E:\Program Files\Python\lib\site-packages\mpl_toolkits\bas

[2022-02-14 07:27] molinav commented on #534
This looks like a problem in `pyproj` and not in `basemap`. The main `basemap` init file only references public members of `pyproj`. Your error says that `pyproj` itself fails to import because it tries to access a private module that cannot be found.

Can you provide info about your environment? Python version, `basemap` version, `pyproj` version. If you are working with Python 3.10 (as I remembe

[2022-02-14 16:13] molinav commented on #533
@YuujinHwang May I ask you if your problem got solved by installing `basemap` 1.3.2 as indicated in my previous message?

[2022-02-21 22:03] AgilentGCMS commented on #533
@molinav Is issue #522 also fixed by this new release?

[2022-02-22 07:31] molinav commented on #533
@AgilentGCMS Your issue is still not solved in `basemap` 1.3.2, but I keep it in my backlog to study it when I get some time. The workaround for the moment is still to pin GEOS < 3.9.

[2022-03-01 11:30] molinav commented on #534
I am closing this issue due to lack of feedback. It seems to be a problem from the `pyproj` installation and not from `basemap` itself, and without feedback there is not much to do here.

[2022-03-01 11:30] #534 closed

[2022-03-01 11:34] molinav commented on #533
I am closing this issue due to lack of feedback. Since this was a problem with the broken `sdist` in PyPI and this is solved in `basemap` 1.3.2, this issue should be solved with this release. If that is not the case, feel free to reopen the issue.

[2022-03-01 11:34] #533 closed

[2022-03-06 22:56] SalvatoreRa opened #535 "install basemap in Google colab"
Hi,

I have tried to install basemap in colab, I tested some alternatives but none of them worked.

I tried also the proposed solution find in StackOverflow, without success

https://stackoverflow.com/questions/54613992/how-to-install-and-use-basemap-on-google-colab

How I can install basemap in Colab?

best

[2022-03-07 06:55] molinav commented on #535
Hi @SalvatoreRa!

Can you try to install it with the solution that I posted here?
https://stackoverflow.com/a/70624545/13312069

Since version 1.3.0 we have precompiled wheels in PyPI, so you can install `basemap` in Google Colab as any other package:
[code]

In case you need the high-resolution datasets, you need to install them manually:
[code]

[2022-03-07 08:48] SalvatoreRa commented on #535
thanks, It worked well

[2022-03-07 11:14] molinav commented on #535
Perfect! Then I think we can close this issue.

[2022-03-07 11:14] #535 closed

[2022-03-12 20:26] iamthad opened #536 "six 1.16 is not permitted"
six version 1.16 was released 2021-05-05: https://github.com/benjaminp/six/releases/tag/1.16.0

The basemap package does not permit this version:
https://github.com/matplotlib/basemap/blob/5339e5ecce34ccdb2f88a8e61dd4c0492acc4b86/packages/basemap/requirements.txt#L3

Is there a reason this version is incompatible, or can the `requirements.txt` be updated to allow it?

[2022-03-13 09:44] molinav commented on #536
As far as I know, there should be no incompatibilities. I normally set upper pins just as a precaution, i.e. to be sure that a possible broken release in the dependencies is not propagated to the library (when installing).

In this case with `six`, I just forgot to increase the upper pin at some point, but it should be safe to increase it (`six` is quite reliable, e.g. it defines `python_requires`

[2022-03-15 11:29] molinav commented on #536
@iamthad After some minor refactoring of `matplotlib.cm`, the `six` module is not required anymore as a dependency. Therefore, in the next patch release `basemap` will not be limiting other packages that try to install the newer `six` version.

[2022-03-31 16:02] guziy commented on #512
I have a similar problem. I think this might be because your domain does not intersect any coastlines? I have this reproducer:

[code]

*Note*: The above fails in basemap 1.2.1 and works in basemap 1.1.0, regression somewhere...

But if I extend a bit to have an intersection with the ocean coastlines (in this case to the Hudson Bay) it works

[code]

@jswhit I know we are not supposed to bug you w

[2022-03-31 16:48] molinav commented on #512
@guziy With the latest `basemap` I am not able to reproduce it. If I type your first snippet in IPython, I get this:
[code]
![plot_first_snippet](https://user-images.githubusercontent.com/9979942/161107549-458ea990-445f-4bc8-b26a-5afb91dde5ec.png)

For this example I am using the `basemap` wheel in PyPI, which bundles a relatively old GEOS library (3.5.1). Could it be that your `basemap` installat

[2022-04-01 02:40] guziy commented on #512
@molinav Could you please try to create the following conda environment:

[code]
I am not sure how to check geos version...

[2022-04-01 07:28] molinav commented on #512
@guziy The `basemap` conda package needs an update at some point, but I haven't still had time to learn a bit on how to refactor the `basemap` conda recipe appropriately after my split of `basemap` into three parts.

From other issue (https://github.com/matplotlib/basemap/issues/522#issuecomment-1021245967) it seems that we are blocked at the moment to GEOS < 3.9.

[2022-04-01 14:57] guziy commented on #512
* I don't know about conda recipies, but willing to learn, are they in this repo?
* @flaviodoliveira could you please check if the latest develop branch fixes the issue for you as well?

[2022-04-01 15:29] molinav commented on #512
The conda recipe is available in a separate repo:
https://github.com/conda-forge/basemap-feedstock

There were a couple of external attempts to update the recipe but they did not succeed or were closed before finishing:
https://github.com/conda-forge/basemap-feedstock/pull/92
https://github.com/conda-forge/basemap-feedstock/pull/93

Unfortunately, I could not still find time to learn about conda r

[2022-04-07 03:02] CaffreyR commented on #533
Hi! I am working on Macbook pro with basemap, but I met some issues. When I try to pip install basemap, there is something wrong with this. But I have already brew install geos, what's wrong? Thanks!
<img width="575" alt="image" src="https://user-images.githubusercontent.com/84232793/162111748-596ace7c-b967-4825-9a61-0f049965367c.png">

@YuujinHwang @molinav

[2022-04-07 03:04] CaffreyR opened #539 "pip error on Macbook pro (m1 pro)"
Hi! I am working on Macbook pro with basemap, but I met some issues. When I try to pip install basemap, there is something wrong with this. But I have already brew install geos, what's wrong? Thanks!
![image](https://user-images.githubusercontent.com/84232793/162112051-89b615c5-4af5-459a-a14c-6a52762a9062.png)

[2022-04-07 10:04] molinav commented on #539
Hi @CaffreyR! Did you set the `GEOS_DIR` environment variable? Since your traceback says that the file `"geos_c.h"` is not found, I would assume that the `_geoslib` module cannot be compiled because of not finding the GEOS headers in your system.

[2022-04-07 21:22] ronaldbradford commented on #539
I'm getting the same problem, and I'm setting GEOS_DIR.
Brew installs geos=3.10.2, this comment in basemap suggests installing an older version https://github.com/matplotlib/basemap/issues/533

[2022-04-07 21:25] molinav commented on #539
Hi @ronaldbradford, thanks for the feedback. Could you confirm me if you can find a `"geos_c.h"` file in your system and the value that you are assigning to `GEOS_DIR`?

[2022-04-07 21:34] ronaldbradford commented on #539
I was using GEOS_DIR=/usr/local/Cellar/geos/3.10.2

I've uninstalled and building form source right now to see if I can confirm it fixes my issuel

[2022-04-07 21:39] ronaldbradford commented on #539
I have installed geos 3.8.2 from source https://libgeos.org/usage/download/

[code]

[2022-04-07 21:44] ronaldbradford commented on #539
FWIW 'm also getting the same error with
[code]

[2022-04-07 22:06] molinav commented on #539
From your traceback I would infer that there is no problem with finding the header file but with finding the library itself.

The problematic line could be this one in the setup file: https://github.com/matplotlib/basemap/blob/f9c9dabd2e8e41b7573c5a8b1beaf7182ea87173/packages/basemap/setup.py#L45

The setup file tries to find the library assuming that the library filename follows the pattern `"lib

[2022-04-07 22:07] ronaldbradford commented on #539
I have installed geos 3.9.2 now from source https://libgeos.org/usage/download/
I Installed basemap from source via https://github.com/matplotlib/basemap instructions
Debugging setup.py is beyond my knowledge level. I know it's late there, please let me know what I can try.

[code]

[2022-04-07 22:10] ronaldbradford commented on #539
[code]

Let me interactively look at ~L45 and see.

[2022-04-07 22:14] ronaldbradford commented on #539
[code]

So yes, there is no *.so file on MacOS

[2022-04-07 22:15] ronaldbradford commented on #539
https://github.com/matplotlib/basemap/commit/41214409b49461cee8b65dd25fb33ed8ebd9963b

[2022-04-07 22:22] molinav commented on #539
This traceback shows much more information. Something is going wrong when setting the compilation flags internally, because the `clang` call is missing a `-I$GEOS_DIR/include` (with `$GEOS_DIR` expanded to your value). This is supposed to be done by the `setup.py` but it is clear that it is not doing its job in MacOS.

Can you check if setting the environment variable `CFLAGS=-I$GEOS_DIR/include`

[2022-04-07 22:35] molinav commented on #539
You got it. This commit done by me is causing at least one of the problems. Before, only the presence of the header file was checked. I wanted to ensure that the library was actually there too, but only considered the extensions for Windows (.dll) and for manylinux (.so).

I will need to update this. But still I am confused, because in your other traceback the first check seems to pass but later t

[2022-04-08 05:58] CaffreyR commented on #539
Yep, I have set the dir in .bash_profile too. As you can see above. @molinav
<img width="381" alt="image" src="https://user-images.githubusercontent.com/84232793/162373658-b4750b9e-8229-44e2-a3e3-4becba94070a.png">
And does an older version work? @ronaldbradford

[2022-04-08 08:32] molinav commented on #539
@CaffreyR You need to define `GEOS_DIR` as an independent environment variable instead of adding the GEOS directory to `PATH`, like so:
[code]
Still, this won't be enough because the setup file needs a correction as shown by @ronaldbradford above. Here the GEOS version does not play a role: the recommendation about the version limit for GEOS is due to a problem only when drawing the Antarctic coas

[2022-04-13 22:53] molinav commented on #539
@ronaldbradford I have just pushed some commits to the [`bugfix-539`](https://github.com/matplotlib/basemap/tree/bugfix-539) branch. There, I reimplement how the GEOS library is searched so that it also considers `.dylib` extensions on MacOS. Could you give a try and install from this branch to see if your problem is solved on your system?

[2022-04-14 07:53] molinav commented on #539
@CaffreyR May I ask you to try my attempt of fixing your problem? You need to do:
[code]

[2022-04-15 08:27] CaffreyR commented on #539
OK！But there's something wrong with the git , maybe for network in my region, let me try it again later. @molinav

[2022-04-15 08:31] molinav commented on #539
@CaffreyR Be sure not to use `--depth 1` when cloning, because then the history is not downloaded and you cannot change to the bugfix branch. I wrote it wrong and edited my message, but if you copied the snippet from an email notification it will be still there.

[2022-04-15 08:36] CaffreyR commented on #539
see there is continuously disconnection, whether I use my VPN. Is there any chance that git broken? @molinav
<img width="591" alt="image" src="https://user-images.githubusercontent.com/84232793/163547251-9f191913-ea2e-4ca1-8557-be59c964f75d.png">

[2022-04-15 08:38] molinav commented on #539
@CaffreyR It looks more like a network issue then. Maybe you can try a bit later in case the connection gets better.

[2022-04-15 14:11] ronaldbradford commented on #539
@molinav  +1

[code]

<img width="778" alt="Screen Shot 2022-04-15 at 10 10 51 AM" src="https://user-images.githubusercontent.com/125476/163581048-11f43a0c-2215-4873-a22b-faa44dc8a81e.png">

[2022-04-16 10:16] molinav commented on #533
@YuujinHwang The fix that I made to solve the broken source distribution package was not enough to make `basemap` installable on MacOS. I needed to make another patch as shown in #539 to ensure that the GEOS shared library (dylib) can be found. May I ask you to check if the fix also works for your case? You would need to do the following:
[code]

[2022-04-16 10:17] molinav commented on #539
@ronaldbradford Thanks! Great to see that it works. I will prepare a patch release 1.3.3 soon so that the source distributions from PyPI also work for MacOS.

[2022-04-17 10:14] odrusso commented on #533
@molinav Hey! This got me past the install step (M1 Pro), with an extra
`python3 -c "import utils; utils.GeosLibrary('3.5.1').build(installdir='${GEOS_DIR}')"`
step in the middle. All working now 🚀

Python 3.10.2, pip 22.0.4

[2022-04-17 12:39] molinav commented on #533
@odrusso Thanks for the feedback! You have to use your additional command in case that you also need to build GEOS from source. I didn't include it in my previous comment because the original issue was trying to link the GEOS library available from Homebrew. Good to see that with GEOS from source it also works flawlessly on MacOS.

I will tag a new `basemap` patch version (1.3.3) very soon. Then i

[2022-04-17 12:51] molinav commented on #533
@odrusso Thanks for the feedback! You have to use your additional command in case that you also need to build GEOS from source. I didn't include it in my previous comment because the original issue was trying to link the GEOS library available from Homebrew. Good to see that with GEOS from source it also works flawlessly on MacOS.

I will tag a new `basemap` patch version (1.3.3) very soon. Then i

[2022-04-17 17:30] #539 closed

[2022-04-26 10:04] CaffreyR commented on #539
@molinav Finnally!!!! I downloaded the git! It really worked! Thanks so much!
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/84232793/165276189-f2e436dc-f0be-45a9-9e57-1372d58a8439.png">

[2022-04-26 10:06] molinav commented on #539
@CaffreyR Nice to hear! Thanks!

[2022-04-27 08:41] CaffreyR opened #542 "Another problem in MacOS"
@molinav Hi! Something wrong with colorbar! See I draw the nc file on the plot, but when I try to join together , it go white completely!
<img width="853" alt="截屏2022-04-27 下午4 40 49" src="https://user-images.githubusercontent.com/84232793/165478331-48f9ce8c-757f-45d4-9a2c-802f2392c4f2.png">
<img width="730" alt="截屏2022-04-27 下午4 41 00" src="https://user-images.githubusercontent.com/84232793/16547

[2022-04-28 07:01] molinav commented on #542
@CaffreyR Can you provide the complete code snippet that you were trying to run? You can copy the snippet here enclosed by triplets of backticks (```). Is the SST dataset available somewhere or can you provide it? I tried to run your IPython lines in my console with a dummy image `sst = np.random.rand(100, 200)` and I could not reproduce the problem.

[2022-04-28 07:07] CaffreyR commented on #542
[code]

[code]

[code]

[code]

    <Figure size 1296x720 with 0 Axes>

[code]

    <function matplotlib.pyplot.show(close=None, block=None)>

​
![png](output_4_1.png)
​

[code]

    {20.0: ([<matplotlib.lines.Line2D at 0x2b24519c0>],
      [Text(20.16, -93.6, '20°E')]),
     60.0: ([<matplotlib.lines.Line2D at 0x2b2451c30>],
      [Text(60.12, -93.6, '60°E')]),
     100.0: ([<matplotlib.lines.Lin

[2022-04-28 07:38] molinav commented on #542
@CaffreyR Unfortunately I cannot reproduce the problem. I am running this (with the same file from NASA as yours):
[code]

and I am getting what you were expecting:
![sst2021](https://user-images.githubusercontent.com/9979942/165701362-d5b45208-db94-4fec-ba58-935b181ea5a7.png)

I am using the following libraries:
[code]

[2022-04-28 07:45] CaffreyR commented on #542
Wait a minute, when I join all the code block together, it shows the picture I expected! I guess maybe something wrong with the console or jupyter notebook? @molinav

[2022-04-28 07:51] molinav commented on #542
It looks like each code block is using its own figure and canvas. If you look at your previous message, every figure is losing whatever you drew before. In the first figure, you plot the SST data. In the second one, you get the parallels and meridians but lose the SST data. In the third one, you get the coastlines and boundaries but lose the parallels and meridians. And so on.

[2022-04-28 07:56] CaffreyR commented on #542
Yep! It seems the problems solved! Thanks!

[2022-04-28 07:56] #542 closed

[2022-05-06 17:42] heatherpala commented on #420
PLEASE HELP!!!!
Trying to get basemap to work in Jupyter and getting this error:
NameError                                 Traceback (most recent call last)
C:\Users\HEATHE~1\AppData\Local\Temp/ipykernel_14688/2506085524.py in <module>
     27
     28 # create the map object, m
---> 29 m = Basemap(resolution='i', projection='cyl', \
     30     llcrnrlon=bot_left_lon, llcrnrlat=bot_left_lat, \

[2022-05-18 21:07] isimo00 commented on #539
I'll leave an update on how to solve this since even bug #539 of basemap has been fixed but I still had this issue even after.
You want to make sure you first run
`brew install geos`

Then, @molinav 's lines might need some modifications. Check where geos is being stored, it might not be `"/opt/homebrew/Cellar/geos/3.10.2"`. This will be printed when you install geos using brew. For me, it was rat

[2022-05-18 21:30] molinav commented on #539
@isimo00 Thanks for the feedback. I recently created a hotfix version 1.3.3 with the corrections for Mac and pushed it to PyPI:
https://pypi.org/project/basemap/1.3.3/

Although there are no precompiled wheels for Mac, now you can install `basemap` from the PyPI source distribution, so in principle it would be enough with doing the following (assuming that you have a C compiler):
[code]
The good t

[2022-05-20 09:31] isimo00 commented on #539
@molinav Oh great! Thanks for the answer and work, hopefully this will make it easier for future users.

[2022-05-22 16:52] jucor commented on #539
Thanks a lot! Came here precisely to find this <3
Any chance to get a wheel at some point to conda-forge, please?

[2022-05-22 16:56] molinav commented on #539
@jucor Actually there was some work recently in [the corresponding feedstock](https://github.com/conda-forge/basemap-feedstock/pull/96), and we managed to make the pipelines pass again with the new `basemap` 1.3.x series. I am waiting for some feedback from the other people involved in the PR just to be sure that everything also looks ok for them... And then we will have `basemap` back in conda-fo

[2022-05-22 17:13] jucor opened #543 "Missing half of antarctica?"
I must be missing something obvious, but it seems that half of antarctica is missing. See e.g.
![image](https://user-images.githubusercontent.com/660037/169707240-c23791eb-80b5-47cd-ad49-4935bd54a956.png)

It used to work ™️  when I generate maps months ago, and now the same code is missing that bit of the world.

Reproduced on two machines, a Mac M1 with compilation from source and a Windows PC w

[2022-05-22 17:19] molinav commented on #543
Hi @jucor! Yes, this is a known problem, see https://github.com/matplotlib/basemap/issues/522. The bindings to GEOS need (still) an update because something happened starting with GEOS 3.9 that sometimes is cropping the coordinates. For the moment pinning to GEOS < 3.9 should do the trick.

[2022-05-22 18:09] jucor commented on #543
Thanks @molinav ! Not sure how to get GEOS 3.8+ with Homebrew -- looks like homebrew only has the latest version. I found the old version of the homebrew formula with 3.8 at https://github.com/Homebrew/homebrew-core/tree/cf821a26a7ca15f56d2a61a93aa9732f5b509f6f , but have no clue how to get homebrew to follow that formula (assuming it is even still working).
I realise this is beyond the scope of b

[2022-05-22 18:42] molinav commented on #543
@jucor Unfortunately I am not expert in any of both (MacOS and Homebrew). There is always the possibility to compile GEOS from source though (having clang and cmake available in your system should be enough).

[2022-05-22 20:00] jucor commented on #543
Thanks @molinav ! I might try that directly :) Very much appreciate your reactivity -- and your package. Thanks for all your work!

[2022-05-22 20:00] #543 closed

[2022-05-22 20:02] molinav commented on #543
@jucor Just for the record, @jswhit is the author of the package, I am just the current maintainer. ;-)

[2022-06-02 08:35] redstoneleo opened #544 "matplotlib basemap colorbar exception : Given element not contained in the stack"
please see it at https://github.com/matplotlib/matplotlib/issues/23186

[2022-06-08 01:27] ijdbuser opened #545 "six<1.16 requirement"
Please upgrade to 1.16+

[2022-06-08 06:34] molinav commented on #545
Hi @ijdbuser! This would be a duplicate of #536, which is already solved. Starting with `basemap` 1.3.3, `six` was removed from the dependencies. You can update to this version and then `basemap` will not cause conflicts about the `six` version.

[2022-06-08 11:32] #545 closed

[2022-06-28 04:14] junchih commented on #533
hi @molinav , I'm facing the same problem as the issue creator does. My OS is macOS 12.4. and the version 1.3.2 and 1.3.3 can not install as well, the reported final error is below,

[code]

[2022-06-28 07:23] molinav commented on #533
Hi @junchih! It looks like you might having the following issue with `numpy`: https://github.com/numpy/numpy/issues/18093

Are you trying to build `numpy` from source? It could also be that your system already had `numpy` installed but with a version prior to the patch from the link above.

[2022-06-28 14:09] junchih commented on #533
Thx @molinav, I see the reason.

Theoretically anybody with macOS builtin python 3.8, or `brew install python@3` (python 3.9) will be punched by this error. Because of https://github.com/matplotlib/basemap/blob/v1.3.2/packages/basemap/pyproject.toml#L5-L6.

Only macOS with python 3.10 could work. But https://github.com/Homebrew/homebrew-core/issues/91421. Let's wait!

[2022-06-29 07:53] molinav commented on #533
The `basemap` series 1.3.x is aiming to put `basemap` in shape for proper distribution under as many operating systems and Python versions as possible.

Unfortunately I do not have expertise with MacOS and this might have introduced some regressions. The lines that you mention are very useful for an eventual fix for Python 3.8+ on MacOS. The reason for fixing `numpy` to old versions (e.g. 1.16.6)

[2022-06-29 08:00] molinav commented on #533
@junchih Does it work for you if installing with the `--no-use-pep517` flag, e.g. `python -m pip install --no-use-pep517 basemap`?

[2022-06-29 11:38] junchih commented on #533
@molinav, I got this error, and same error for python 3.9
[code]

[2022-07-26 07:50] matthew-william-lock opened #546 "arcgisimage - urllib2.HTTPError: HTTP Error 400: Bad Request"
Using the [provided example](https://basemaptutorial.readthedocs.io/en/latest/backgrounds.html) :

[code]

I get the following error:

[code]

[2022-07-30 23:21] PowerBroker2 commented on #546
I'm getting a very similar error, too

[2022-08-06 02:35] SongJaeIn opened #547 "Basemap install failing issue in MacOS"
Hi, I tried to install Basemap via pip in Mac OS, but I have encountered an error.
I also tried with another version (1.3.0), but those resulted in another error related to GEOS (it is installed and the environment variable is set correctly though).

Really appreciate your effort on this outstanding tool and thank you in advance for your support.

following is the log for installation of v 1.3.3:

[2022-08-06 09:52] molinav commented on #547
Hi @SongJaeIn! It looks like the problem is coming from the current build dependency definition in the [`pyproject.toml`](https://github.com/matplotlib/basemap/blob/v1.3.3/packages/basemap/pyproject.toml), because it is pinning to a very specific `numpy` version (v1.16.6 for Python 3.9), and your computer fails to build this `numpy` version from source. I think https://github.com/numpy/numpy/issue

[2022-08-06 10:28] molinav commented on #547
@SongJaeIn Can you try installing from the latest commit in the repository? You can do:
[code]

After installing, I also recommend you do the simple test:
[code]
to ensure that the `_geoslib` extension was built properly and that you can import it.

[2022-08-06 10:44] molinav commented on #547
Ok so my changes seem to break the current GitHub workflows... I will need to edit the `pyproject.toml` file with specific build dependencies for MacOS.

[2022-08-06 10:57] SongJaeIn commented on #547
with your help, installation of Basemap was successful
However, when I test with`from mpl_toolkits import basemap` an error about _geoslib appears.
`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
RuntimeError: module compiled against API version 0x10 but this version of numpy is 0xf
-----------

[2022-08-06 11:05] molinav commented on #547
@SongJaeIn Can you try once again with the same command? I have just updated the `pyproject.toml` file because my first attempt was not successful and it also broke the builds for Windows and GNU/Linux. Now the `pyproject.toml` file looks like this:
https://github.com/matplotlib/basemap/blob/bd8b7bec081d20088a04b9e202150b56cc87e7c6/packages/basemap/pyproject.toml#L6

so now your computer should tr

[2022-08-06 11:09] molinav commented on #547
@SongJaeIn By the way, this `RuntimeError` is the reason why in the beginning we pin to very old `numpy` versions when building. It also gave me a bit of headaches in the past but was solved for Windows and GNU/Linux. Unfortunately I did not have a Mac around to also test the solution on Mac at that time, and you were unlucky that MacOS had this build problem with `numpy` until v1.21.0.

[2022-08-06 11:12] SongJaeIn commented on #547
@molinav Now it works perfectly. Thank you very much.
and I am willing to test your new builds in MacOS in the future.
Thank you again, have a great weekend!

[2022-08-06 13:03] molinav commented on #547
Great to hear that, @SongJaeIn! When I get some more time, I will prepare a patch release v1.3.4 with this correction and then you will be able to install `basemap` with `pip` as you were trying to do in the beginning.

[2022-08-06 14:24] molinav commented on #546
There seems to be some problem with this concrete ESRI REST API service `ESRI_Imagery_World_2D`, it might be that ESRI has removed it:
https://www.arcgis.com/home/item.html?id=39758ebd4b9642b79e7a2f54d8871556

Quoted from the link above:

The alternative service that they recommend is the `World_Imagery` service:
https://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9

This other

[2022-08-06 14:30] molinav commented on #546
I think that my `World_Imagery` examples are not behaving properly because the URL attribute `bboxSR` and `imageSR` are not set correctly.

[2022-08-06 14:47] molinav commented on #546
If I try to use simple cylindrical coordinates (EPSG=4326), the code snippet works:
[code]

So there are at least two problems:
- One problem is the map service itself, it seems that [`ESRI_Imagery_World_2D` is defunct since May 2022](https://support.esri.com/en/technical-article/000027382).
- When trying to use `World_Imagery` as replacement for `ESRI_Imagery_World_2D`, there are issues with the

[2022-08-06 15:08] molinav commented on #546
@matthew-william-lock I have found that the following block is causing the problems with the EPSG 5520 coordinates:
https://github.com/matplotlib/basemap/blob/f370fd397e9c11c227cfc18691c415d9a702c254/packages/basemap/src/mpl_toolkits/basemap/__init__.py#L4287-L4289

I do not have any idea why this if-block is there (it looks like a radian-to-degree conversion), but this recalculation of the coordi

[2022-08-06 15:46] WeatherGod commented on #546
A good place to look to find out what exactly things are in which situation is the `__init__()` mega-function: https://github.com/matplotlib/basemap/blob/f370fd397e9c11c227cfc18691c415d9a702c254/packages/basemap/src/mpl_toolkits/basemap/__init__.py#L592. It is complicated, with lots of if-branching, but this would tell you what units those attributes should be in when the Basemap object is initial

[2022-08-06 15:53] molinav commented on #533
@junchih Your issue was also mentioned in #547 and you were right with the source of the problem. The patch is already implemented in the `develop` branch, so you can try out by doing:
[code]

and check that it works with:
[code]

The patch will arrive in PyPI with the hotfix version 1.3.4 of `basemap`, which I hope to prepare soon.

[2022-08-07 14:51] molinav commented on #546
@matthew-william-lock May I ask you to check if the patch works for you? You would need to install `basemap` using the temporary `bugfix-546` branch first:
[code]

After that, you can try the updated Python example snippet (note that I now use "World_Imagery" as service):
[code]

The default value for the service argument used to be "ESRI_Imagery_World_2D", so I also changed it to the new default

[2022-08-10 14:33] molinav commented on #546
I will close this issue as completed with PR #548. If you still experience problems, please feel free to reopen it.

[2022-08-10 17:30] Awaiskhan404 commented on #438
Dataset might need some authorization. Still, facing issues?

[2022-08-10 22:03] molinav commented on #438
It seems the link from the example is not available anymore. This is something outside of our control. We should update the documentation though.

I guess the original authors rearranged the website, see e.g.
https://psl.noaa.gov/data/gridded/data.noaa.oisst.v2.highres.html

In particular, you can find two OISST product files for the periods 1971-2000 and 1991-2020 here:
https://downloads.psl.noaa

[2022-08-10 22:15] molinav commented on #481
I am closing this issue because the problem in the OP is actually solved now. The key point is the traceback of the URL:
[code]
where the bounding box should contain "standard" latitudes and longitudes (since the OP uses EPSG 4326), but instead it contains out-of-bound values due to an unexpected radian-to-degree conversion factor applied inside `Basemap.arcgisimage` before generating the URL.

Th

[2022-08-10 22:15] #481 closed

[2022-08-10 22:27] molinav commented on #444
I am closing this issue due to lack of feedback. From your traceback
[code]

this is the typical problem that occurs when you build `basemap` using a newer `numpy` version (e.g. >= 1.20) but later run it with an elder `numpy` version (e.g. < 1.20). There has been effort in remediating this issue by creating GitHub Actions that generate precompiled binary wheels for different platforms (in your cas

[2022-08-10 22:27] #444 closed

[2022-08-10 22:35] molinav commented on #437
I am closing this issue since the pre-generated C file for `_geoslib` was removed in `basemap` version 1.3.0 and is generated at build time for the running Python version. With the `basemap` release 1.3.4, it should be possible for Mac users to install `basemap` directly from the source distribution in PyPI (as long as there is a C compiler plus GEOS in the system):
[code]

[2022-08-10 22:35] #437 closed

[2022-08-17 12:50] PhillCli commented on #463
So, I've hit a similar issue, code I've used to reproduce, blue-marble with robin projection

[code]
Expected output:
![image](https://user-images.githubusercontent.com/32617178/185132728-5be63d7c-d923-402b-a39e-ab055fb0edfe.png)

It works on all tested base map versions - 1.1.0 - 1.3.4 only if I downgrade matplotlib to `3.4.3`, `3.5.X` release doesn't work with any version of base map I've tried.

[2022-08-17 12:58] molinav commented on #463
@PhillCli Thanks for the feedback and the hint about the `matplotlib` version. Do you have the full traceback that you get when using `matplotlib` 3.5.x? Probably some deprecated `matplotlib` syntax was removed in 3.5.x and `basemap` is still using the old syntax. I will take a look to it when I get some free time.

[2022-08-17 13:10] PhillCli commented on #463
It's a silent failure, the plot is generated but is completely empty except for an outline. Just like in this post [comment](https://github.com/matplotlib/basemap/issues/463#issuecomment-723505972)

[2022-08-18 00:07] molinav commented on #463
@PhillCli Removing the `projection` argument is equivalent to setting `projection="cyl"`.

From your code snippet, if you try to do the following with the Robin projection:
[code]
you can see that the transformed image is actually there and it is transformed correctly (note that the image will appear upside down in the figure, but this also occurs in `matplotlib` 3.4.x, so I assume it is the norma

[2022-08-18 00:25] molinav commented on #463
Going a bit more into the `im1` object from my line added, just a couple of outputs from an interactive session:
[code]
so `im1.axes` actually has a list of images containing only `im1`, which is our rebel axes image. At least this looks normal to me.

[2022-08-18 15:29] PhillCli commented on #463
@molinav Thanks for the investigation, I'm not that familiar with the internals of Basemap.

Good to know the image is still properly transformed, and just a matter of explicitly adding it to Axes object.

That would make sense that something about rendering changed in 3.5.3 that breaks the default Basemap imshow, wonder if that was also the case for the @sbonaime issue.

It might be valuable to u

[2022-08-18 19:08] bward-mcgill opened #550 "makegrid not working with npstere projection"
Hello,
I'm trying to reproduce the `transform_vector()` function. Basically, I want to plot my wind vector rotated and interpolated in a north polar stereographic projection. Here's the source code :

[code]
So my understanding is that the function is quite simple. There is some verifications at the beginning in order to make sure that the longitude goes to -180 to 180 and that both longitude and

[2022-08-30 07:13] ktavabi opened #551 "Install error(s)"
As per your install instructions:
`python -m pip install basemap` throws an error with Python 3.9.13, and Clang 13.1.6 (clang-1316.0.21.2.5) on darwin with GEOS installed via homebrew.

As a matter of fact, every single one of your installation instructions throws some error.

[2022-08-30 07:31] molinav commented on #551
Hi @ktavabi. I have a couple of questions:
- What value did you assign to the environment variable `GEOS_DIR`?
- Where is the path to the GEOS installation through Homebrew?

[2022-08-31 14:23] guziy commented on #151
This issue can be closed here, if the issue is still there, then it should be reported to the pyshp project (I am guessing here: https://github.com/GeospatialPython/pyshp).

[2022-08-31 14:38] guziy opened #552 "readshapefile: add an argument to override unicode decoding error handling"
Usually, we want to plot the shapes and not care too much about the correctness of decoded .dbf file.  But the current behavior: plotting fails if the default encoding does not match the one used for saving .dbf file.

I propose to add an argument to the readshapefile:

[code]

Currently, this is hardcoded to 'strict' inside the `readshapefile` method (i.e. default in the `Reader` constructor).

I

[2022-08-31 17:08] lexipalmer13 opened #553 "pcolormesh false returns masked array error"
Using matplotlib with basemap to plot temperature data and getting an error saying pcolormesh cannot plot masked data. When raised on github ([link](https://stackoverflow.com/questions/73394393/getting-an-error-on-pcolormesh-matplotlib-for-masked-array-but-my-arrays-aren?noredirect=1#comment129640741_73394393)) response suggested that it's a corner case and arrays get overflowed rather than an iss

[2022-09-01 12:12] #552 closed

[2022-09-01 17:18] guziy commented on #553
The problem is that the conic projection is not valid globally, and you are trying to feed it era5 global fields... Probably basemap could be more intelligent about it...

Here is the workaround...

[code]

[2022-09-01 17:21] guziy commented on #553
I get this warning though, it seems like it does not like something about coordinates...

[code]

[2022-09-01 17:24] guziy commented on #553
The warning goes away if I do this:

[code]

[2022-09-06 09:44] guidocioni commented on #522
Is there any update on this?
I've been trying to revert to geos 3.8.1 in my conda env but that's taking hours to resolve and it will probably mess up the entire environment :)
Is there any way maybe to compile an older version of geos directly and make basemap use that one instead than the one of `conda`?

[2022-09-06 10:39] molinav commented on #522
Hi @guidocioni! Unfortunately, I haven't had time to look at it yet.

In the meantime, one workaround if you are using Windows or GNU/Linux is that you install manually `basemap` with `pip` and resolve the dependencies yourself with `conda`:
[code]

The precompiled binary wheels hosted in PyPI bundle GEOS 3.5.1 for both Windows and GNU/Linux, and they do not suffer from this bug.

[2022-09-06 13:35] guidocioni commented on #522
Thanks! That's definitely the easier way to solve it for now.
I only had to uninstall `basemap` from conda (`basemap-data` and `basemap-data-hires`) without any additional changes of dependencies (!!), and then after installing `basemap` with `pip` everything is working as expected.

[2022-09-29 14:24] lexipalmer13 commented on #553
My apologies for not responding to this earlier, but this fix works! Thank you so much for your help - I really appreciate it!

[2022-09-29 14:24] #553 closed

[2022-10-02 19:15] fragkoul opened #555 "addcyclic slicer IndexError"
First of all, kudos to @molinav for keeping basemap alive. I still find it nicer than Cartopy.

Earlier python versions give a _FutureWarning_ and newer python versions an _IndexError_ on the output of the addcyclic function:
_version 1.3.4, line 5098_: **npsel.concatenate((a,a[slicer]),axis=axis)**

I suppose this needs to change to:
**npsel.concatenate((a,a[tuple(slicer)]),axis=axis)** ?

[2022-10-04 19:43] molinav commented on #555
Hi @fragkoul! Thanks for your support and for reporting the issue.

I may have some time around Friday to check it properly, but you are very likely right, and your solution is the correct one. I remember seeing around this `numpy` warning for very long time, so it was a matter of time that they would stop supporting this old syntax.

If you want to try out, feel also free to provide a pull reques

[2022-10-14 09:14] haritha1022 opened #556 "unable to give latitude and longitude to the basemap"
I was trying to plot argoflots data  they are situated at same latitude and longitude with little variation i want know exact location of each argofloat
![argo](https://user-images.githubusercontent.com/97615200/195808866-adc8ad82-df16-4b30-9454-a7a83571b76c.png)

here is the code:
df = pd.read_csv("Book122.csv")

plt.figure(figsize=((19,10)))

x=df['longitude']
y=df['latitude']

m = Basemap(proje

[2022-10-15 10:20] guziy commented on #556
The problem is that

[code]
same thing for longitudes. So your `np.arange` returns an empty array.

[code]

[2022-10-17 16:50] molinav commented on #556
This looks more like a support problem and not a bug in `basemap`. Since @guziy identified and described the problem in the code snippet, I think we can close this issue.

[2022-10-17 16:50] #556 closed

[2022-10-19 17:31] molinav commented on #555
@fragkoul Sorry for the late feedback, I was busier than expected. I checked three example scripts from the `examples` folder that make use of `addcyclic` and I got the exact same error as you. Applying your proposed fix solves the problem, so I have just committed it to the repo.

When the pipelines pass, I will prepare a hotfix release 1.3.5 with the bugfix. I would also like to include in this

[2022-10-19 21:19] molinav commented on #555
The patch is merged into the `hotfix-1.3.5` branch. Thanks for reporting the issue and the solution!

[2022-10-19 21:19] #555 closed

[2022-10-24 16:07] molinav commented on #522
@AgilentGCMS It took me a long while to look at this, but finally I had time to solve it and it will be ready soon in the hotfix release 1.3.5 of `basemap`.

@guidocioni As soon as the `basemap` release 1.3.5 is available in PyPI, I will trigger rebuilds in the [`basemap-feedstock`](https://github.com/conda-forge/basemap-feedstock) repo so that the fixed version will be available in `conda-forge`

[2022-10-25 21:19] molinav commented on #555
The bugfix is already available in the latest `basemap` release 1.3.5 (on PyPI and conda-forge).

[2022-10-25 21:22] molinav commented on #522
The bugfix is already available in the latest `basemap` release 1.3.5 (on PyPI and conda-forge). Thanks for reporting the issue!

[2022-10-25 21:22] #522 closed

[2022-10-25 21:24] molinav commented on #551
Unfortunately, without more feedback there is not much more that I can do to help. The piece of traceback is typical from not setting `GEOS_DIR` to the appropriate folder. If that is not the case, feel free to re-open this issue.

[2022-10-25 21:24] #551 closed

[2022-10-25 21:31] molinav commented on #512
@guziy This issue and your fix were included in `basemap` 1.3.3. Since April, a bit of development on the `conda-forge` side has been ongoing, and we now have up-to-date `basemap` packages in `conda-forge` as well as in PyPI.

The latest `basemap` release (1.3.5) has been deployed to PyPI and `conda-forge` today, it also includes this bugfix of course, and it solves the problem about linking with

[2022-10-25 21:31] #512 closed

[2022-10-25 21:39] molinav commented on #447
I know that I am coming super-late here, but there has been significant development on the `basemap` packaging in the last months. We are still missing precompiled binary wheels for MacOS, but it should be straightforward to install from the source distribution available in PyPI:

1. First, you need to have an appropriate installation of GEOS (e.g. through HomeBrew) and a C compiler.
2. Then, set

[2022-10-29 09:42] Fox-0124 opened #561 "fail to install basemap in Win11 with the newest python 3.11"
When I install basemap with 'pip install basemap' or 'python -m pip install basemap', an error occurs:
![image](https://user-images.githubusercontent.com/39712328/198824639-524e09bf-f519-41bb-8cd4-3f3b8a4fa946.png)

No other python versions exist in my computer.

[2022-10-29 09:53] molinav commented on #561
Hi @Fox-0124! Python 3.11 is relatively new, right? You are being caught by the upper pin "<3.11" in the `setup.py` file. Very likely it will be enough if I increase this upper pin and rebuild the wheels also for Python 3.11.

[2022-10-29 10:14] molinav commented on #561
I was checking a bit further and actually `basemap` pins to `<4` as upper bound. The `<3.11` upper bound issue is coming from the build requirement `numpy==1.21.4`, because the `numpy` versions 1.21.2 to 1.21.6 added this upper bound (not present in `numpy` 1.20.x, 1.22.x or 1.23.x, for example).

[2022-10-31 11:48] molinav commented on #561
@Fox-0124 In the end, adding the Python 3.11 support had a bit more work than expected, but the core functionality is merged into the `hotfix-1.3.6` branch. Currently, I am about to merge another Windows-related bugfix into `hotfix-1.3.6`.

When this is done, may I ask you to try out the first "pre-official" Python 3.11 wheel? Are you using Windows with Python 64-bit?

Once this issue can be close

[2022-10-31 17:57] molinav commented on #561
I attach you here the hotfix candidate for Windows Python 64-bit:
[basemap-1.3.6-cp311-cp311-win_amd64.zip](https://github.com/matplotlib/basemap/files/9903661/basemap-1.3.6-cp311-cp311-win_amd64.zip)

You need to change the .zip extension with .whl, otherwise I could not attach the file in the message. I made some basic tests in my computer and it seems to work. Any feedback is appreciated, I wil

[2022-11-01 03:36] Fox-0124 commented on #561
Dear @molinav , many thanks for your work. Now I success to install basemap in my computer.

[2022-11-01 07:45] molinav commented on #561
Great to hear that! Then I will close this issue as completed.

[2022-11-01 07:45] #561 closed

[2022-11-14 14:42] guidocioni opened #566 "Some countries borders not showing up in map"
I remember seeing this already a long time ago but I never managed to solve it.

I'm plotting a map using this

[code]

but some countries (like Switzerland) don't show up.

![realtime_wind_italia](https://user-images.githubusercontent.com/12760310/201688296-d54e3e4d-84b2-4efc-9964-3400134cdbea.png)

Weirdly enough when centering the projection over France Switzerland shows up

![realtime_wind_fra

[2022-11-14 15:19] molinav commented on #566
Hi @guidocioni! Which OS, Python version and basemap version are you using?

[2022-11-14 15:20] guidocioni commented on #566
CentOs 7
python                    3.10.6
basemap                   1.3.6           py310he832c09_0    conda-forge
basemap-data              1.3.2              pyhd8ed1ab_1    conda-forge
basemap-data-hires        1.3.2              pyhd8ed1ab_1    conda-forge

[2022-11-14 16:08] guidocioni opened #567 "Filling ocean with Natural Earth shapefile does not produce the right result"
As per https://stackoverflow.com/questions/74433797/fill-oceans-in-high-resolution-to-hide-low-resolution-contours-in-basemap I'm trying to fill the ocean with high resolution polygons to mask out some low resolution filled contours.
Unfortunately the built-in land sea mask of basemap is not enough for zoomed in regions.

For this reason I'm trying to fill the ocean shapefiles of natural earth htt

[2022-11-14 18:17] molinav commented on #566
Sorry to bother again, can you share the value of your `extents` list? Then I can try to reproduce the problem in my laptop.

[2022-11-14 21:19] guidocioni commented on #566
No worries, and you're right I haven't attached them 😛

[6.0, 19.0, 36.0, 47.7]

[2022-11-15 20:04] #550 closed

[2022-11-16 07:07] molinav commented on #550
@bward-mcgill Did you manage to solve the problem yourself? If not, I would like to keep the issue open to remember that it still needs a fix. I try to do my best but I cannot find always enough time to manage all the issues. Sorry!

[2022-11-16 14:20] bward-mcgill commented on #550
Hello @molinav, I figured that the problem didn't come from the makegrid() function, but from an other part of the function that I implemented. I assumed that the makegrid was returning a rectilinear grid, but I was wrong since an equally spaced grid in a stereographic projection is in fact curvilinear. Therefore, I add to change a little bit the way I was interpolating my field and now I fixed it

[2022-11-29 18:28] TomLav opened #568 "[Doc]: (More) Clearly mark Basemap as deprecated"
### Documentation Link

_No response_

### Problem

Basemap is deprecated and all users should be using Cartopy.

In 2020, https://github.com/matplotlib/matplotlib/pull/16495 removed references to Basemap from matplotlib's documentation. Is it now time to more clearly mark Basemap as deprecated on https://matplotlib.org/basemap/ ?

I do see that the deprecation is described at the bottom of https:

[2022-11-29 20:07] molinav commented on #568
Hi @TomLav! The `basemap` package was deprecated from 2016 until February 2022, but it is *not* deprecated as of today. It is being slowly (but actively) developed and maintained again since December 2021.

During this time, the `basemap` 1.3.x series has been developed as a transition period to put `basemap` in a fit state again. One of the major problems that `basemap` was facing was related to

[2022-11-29 20:22] TomLav commented on #568
Hello @molinav, thank you for your answer and for the time you and your colleagues devote to maintaining and develop free and open source software.

To be clear, I wrote "Basemap is deprecated" because this is the latest information I had, and what is on Basemap's current online documentation:

Does matplotlib need both Basemap and Cartopy is not a discussion I'll open here, but it would no doubt

[2022-11-29 20:28] molinav commented on #568
I think you are totally right, @TomLav. Since the `basemap` packaging is found in an "acceptable" state (compared to one year ago), your opened issue is a clear hint for me that the docs should become a first priority now. Please leave the issue open, it will help me organise the next items to address.